/* Recipe Card */

#container {
  /* margin: 100px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  column-gap: 80px;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}